@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 215 60% 99%;
    --foreground: 215 53% 5%;
    --muted: 185 37% 85%;
    --muted-foreground: 185 10% 39%;
    --popover: 215 60% 99%;
    --popover-foreground: 215 53% 5%;
    --card: 215 60% 98%;
    --card-foreground: 215 53% 4%;
    --border: 215 10% 93%;
    --input: 215 10% 93%;
    --primary: 215 99% 72%;
    --primary-foreground: 215 99% 12%;
    --secondary: 185 99% 72%;
    --secondary-foreground: 185 99% 12%;
    --accent: 245 99% 72%;
    --accent-foreground: 0 0% 0%;
    --destructive: 20 98% 21%;
    --destructive-foreground: 20 98% 81%;
    --ring: 215 99% 72%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 215 59% 1%;
    --foreground: 215 17% 100%;
    --muted: 185 37% 15%;
    --muted-foreground: 185 10% 61%;
    --popover: 215 59% 1%;
    --popover-foreground: 215 17% 100%;
    --card: 215 59% 2%;
    --card-foreground: 0 0% 100%;
    --border: 215 10% 14%;
    --input: 215 10% 14%;
    --primary: 215 99% 72%;
    --primary-foreground: 215 99% 12%;
    --secondary: 185 99% 72%;
    --secondary-foreground: 185 99% 12%;
    --accent: 245 99% 72%;
    --accent-foreground: 0 0% 0%;
    --destructive: 20 98% 58%;
    --destructive-foreground: 0 0% 0%;
    --ring: 215 99% 72%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply box-border bg-background text-foreground;
  }
}

@layer utilities {
  .min-h-screen {
    min-height: 100vh; /* Fallback */
    min-height: 100dvh;
  }
  .h-screen {
    height: 100vh; /* Fallback */
    height: 100dvh;
  }
}
